.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;
	max-width: 1400px;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1400px;
	max-height: 75vh;
}

.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	background-color: #242424;
	overflow-y: auto;
	height: 70vh;
	max-width: 1400px;
}

.queryResults {
	height: 40px;
	text-align: right;
	color: #f2cb05;
	font-weight: 400;
	font-size: 14px;
	margin: 0px;
	margin-top: 10px;
	max-width: 1400px;
}

.h2 {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.emptyCard {
	margin-top: 28px;
}

@media screen and (max-width: 768px) {
	.cardsContainer {
		justify-content: center;
	}
}

@media screen and (max-width: 480px) {
	.cardsContainer {
		flex-direction: column;
		align-items: center;
	}
}
