.card {
	margin: 15px;
	background-color: #d6d6f4;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	width: 230px;
	height: 230px;
	border: 1px solid #535bf200;
}

.card:hover {
	transform: scale(1.02);
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	filter: drop-shadow(0 0 0.2em #8288ffaa);
	border: 1px solid #535bf2;
}

.imgContainer {
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.titleContainer {
	height: 90px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cardImage {
	width: 50%;
	height: fit-content;
	align-self: center;
	border-radius: 0.5em;
	margin: 5px;
}

.cardTitle {
	padding-top: 5px;
	padding-bottom: 10px;
	text-decoration: none;
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #213547;
}

.cardText {
	margin-right: 0.6em;
	font-size: 18px;
	color: #242424;
	text-overflow: ellipsis;
}
