.navContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1a1a;
	border-bottom: 2px solid #646cff;
	padding-bottom: 20px;
}

.link {
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
	text-decoration: none;
	font-size: 18px;
}

.link:hover {
	filter: drop-shadow(0 1em 2em #646cffaa);
	-webkit-transform: scale(1.03);
}

.logoContainer {
	display: flex;
	align-items: center;
	margin-right: 100px;
	margin-left: 85px;
}

.logo {
	will-change: filter;
	transition: filter 300ms;
	width: 45px;
	object-fit: contain;
	margin-left: 15px;
	vertical-align: top;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
	-webkit-transform: scale(1.03);
}
.searchBar {
	margin-right: 30px;
}
